.item {
    width: 300px;
    height: 510px;
    border: 1px solid black;
    border-radius: 10px;
    position: relative;
}

.item img {
    height: 286px;
    width: 286px;
    border-radius: 8px;
    margin: 7px;
}

.item-info {
    margin: 0 14px;
}

.item-info p {
    margin-bottom: 0;
    margin-top: 8px;
}

.btn-cart {
    width: 100%;
    background: bisque;
    border-style: none;
    border-radius: 0 0 10px 10px;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;

}

.btn-cart p {
    font-weight: 600;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-right: 6px;
}

.btn-cart:hover {
    background-color: orange;
}